body{
  text-align: center;
}
h1{
  font-size: 70px;
  font-family: Helvetica, sans-serif;
  color: white;
}
h2{
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-family: Helvetica, sans-serif;
  font-size: 23px;
  font-weight: bold;
}
p{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
a{
  color: white;
}
.design{
  color: white;
}
.nav{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}
.footer{
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
